* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 50px;
}

button {
    padding: 12px;
    border-radius: 10px;
    border:0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}
button.primary{
    background: #8257E5;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 15px;

    background: #0B0911;
}
 .primary.rover:hover{
    background: #9674E5;
}
.primary.focus:focus{
    background: #8257E5;
    outline:rgba(217, 205, 247, 1)  2px solid;
}
.primary.disable:disabled{
    opacity: 0.5;
    cursor: no-drop;
}
.primary.loading{
    font-size: 15px;
    animation: spin ease infinite ;
    cursor: progress; 
    
}
.primary.loading i{
    font-size: 15px;
    animation: spin  1123ms ease-out infinite;
}

.primary.movable{
    cursor: all-scroll;
}
@keyframes spin {
    from{
        transform:rotate(0deg) ;
    }

    to{
        transform:rotate(360deg) ;
    }
    
}

button.secundary{
    background: #3C3748;
}
.secundary.rover:hover{
    background: #6A617F;
}
.secundary.focus:focus{
    background: #3C3748;
    outline:#D9CDF7  2px solid;
}
.secundary.disable:disabled{
    opacity: 0.5;
    cursor: no-drop;
}
.secundary.loading{
    font-size: 15px;
    animation: spin ease infinite ;
    cursor: progress;    
}
.secundary.loading i{
    font-size: 15px;
    animation: spin  1123ms ease-out infinite;
}



.secundary.movable{
    cursor: all-scroll;
}

